<% include ../head.ejs %>
<h1 class="center"><%- location.name %></h1>

<div class="container">

    <h2 class="center  mt-5 mb-2">Total Size</h2>
    <% include ../_graph.ejs %>

    <hr>

    <% include ../_locationTable.ejs %>
</div>


<% include ../foot.ejs %>
