<h2 class="center mt-5 mb-2">Scratch</h2>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Change</th>
    </tr>
    </thead>
    <tbody>
    <% scratchFolders.sort(function (a, b) {
        return b.size - a.size
    }).map((rf)=>{ %>
    <tr>
        <td><%- rf.name %></td>
        <td><%- rf.sizeHuman %></td>
        <td>
            <%- rf.sizeDifferenceHuman %>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>