<% include head.ejs %>
<div class="container">

    <% if(!scan){ %>
    <h1>No scans have been preformed yet.</h1>
    <% } else { %>

    <h2 class="center mb-4"><%- scan.dateHuman %></h2>

    <% if(instances[1]){ %>
    <p class="center">showing changes since <%- instances[1].getDateHuman() %></p>
    <% } %>

    <% scan.locations.map(location=>{ %>
    <% include _locationTable.ejs %>
    <% }) %>

    <% } %>
</div><!-- /.container -->

<% include foot.ejs %>